.name {
    width: 45%;
}

a {
    color: black;
}

/*
.container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.card {
    flex-basis: calc(50% - 40px);

}
*/