body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e5e44c;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.green {
    background: #033b1b;
    border: #033b1b 1px solid;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

/*Header*/
header {
    background: #f868eb;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#main-col a{
    text-decoration:none;
    color: #f868eb;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a,
aside .highlight {
    color: #e5e44c;
    font-weight: bold;
}

header a:hover {
    color: #640a5c;
    font-weight: bold;
}

#main-col a:hover{
    color: #6fff00;
}

/*Showcase*/

#showcase {
    min-height: 400px;
    background: url('../images/ccvlad.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 50px;
    font-size: 55px;
    margin-bottom: 10px;
    color: #302d24;
}

#showcase p {
    font-size: 20px;
    padding: 125px;
    padding-top: 100px;
    color: #f90936;
    font-weight: bold;
}

/*Newsletter*/

#gift {
    padding: 15px;
    color: #ffffff;
    background: #f868eb;
}

#gift h1 {
    float: left;
}

#gift form {
    margin-top: 15px;
    float: right;
}

#gift input[type="number"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box, #boxes .box1{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10;
}


#boxes .box img{
    width: 500px;
}

#boxes .box1 img{
    width: 500px;
}

#boxes .box1{
    margin-left: 350px;
}

#boxes .box{
    margin-left: 50px;
}

.green a{
    text-decoration: none;
}

#sidebar {
    float: right; 
    width: 10%;
    margin-top: 10px;
    margin-right: 140px;
 }

.opgg img{
    padding-top: 20px;
    width: 950px;
    display: block;
    padding-left: 138px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
}

/* Media Queries */
@media(max-width: 768px) {

    header #branding,
    header nav,
    header nav li,
    #gift h1,
    #gift form,
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #gift form input[type="email"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }



}